@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
/* line 9, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
body.problem {
  background-color: #f1f1f1; }

/* line 13, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
.problem_header {
  background-color: #2a3647;
  height: 80px;
  line-height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; }
  /* line 23, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_header h1 {
    display: inline-block;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    padding-left: 3%;
    vertical-align: top; }
  /* line 33, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_header .book_information {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    line-height: 80px;
    margin-left: 15px; }
    /* line 39, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_header .book_information span {
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.7);
      vertical-align: middle; }
    /* line 44, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_header .book_information span.bar {
      margin: 0 7px;
      font-size: 0.6rem; }
  /* line 49, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_header .right_btn {
    display: inline-block;
    float: right;
    padding-right: 3%; }
    /* line 54, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_header .right_btn a.btn_common {
      margin: 0 5px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      padding: 0 20px;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s; }
    /* line 64, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_header .right_btn a.btn_temporary_save {
      color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.6); }
      /* line 67, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_header .right_btn a.btn_temporary_save:hover {
        color: white;
        border: 1px solid white; }
    /* line 72, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_header .right_btn a.btn_save {
      color: #fff;
      background-color: #7d57fb;
      border: 1px solid #7d57fb;
      font-weight: 600; }

/* SIDEBAR BASIC */
/* line 83, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
.sidebar {
  position: fixed;
  top: 80px;
  left: -250px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: #2a3647;
  transition: all 0.2s; }
  /* line 95, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .sidebar h5 {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    padding: 25px 0;
    font-size: 0.9rem; }
  /* line 103, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .sidebar h3 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    color: #fff;
    padding: 30px 0; }
  /* line 111, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .sidebar nav {
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    /* line 113, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .sidebar nav li {
      padding: 15px 0;
      transition: all 0.2s ease;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      /* line 117, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .sidebar nav li a {
        color: #fff;
        text-decoration: none;
        font-size: 1em;
        margin-left: 20px;
        display: block; }
        /* line 123, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .sidebar nav li a span {
          color: #fff;
          background-color: #7d57fb;
          font-size: 0.8rem;
          font-weight: 700;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          display: inline-block;
          border-radius: 50%;
          vertical-align: middle;
          float: right;
          margin-right: 20px;
          margin-top: -2px; }
    /* line 142, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .sidebar nav li:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
      box-sizing: border-box; }

/* line 149, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
.sidebar.active {
  left: 0;
  bottom: 0; }

/* MAIN */
/* line 157, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
main {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  height: 100%;
  transition: all 0.2s; }
  /* line 164, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  main .btn {
    position: fixed;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.4rem;
    color: #fff;
    background-color: #F2594B;
    background-color: #2a3647;
    transition: all 0.2s;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px; }
  /* line 179, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  main .btn.active {
    background-color: #FFCC5C;
    background-color: #7d57fb; }

/* line 184, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
main.moved {
  left: 250px; }

/* line 190, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
.problem_container {
  width: 950px;
  margin: 0 auto;
  padding: 80px 0; }
  /* line 195, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_container .section_subject {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px; }
  /* line 202, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_container .section {
    position: relative;
    padding: 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0; }
    /* line 208, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .problem_area {
      padding: 15px 0 20px; }
      /* line 210, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .problem_area h3 {
        font-size: 1.2rem;
        line-height: 29px;
        display: inline-block;
        vertical-align: top;
        font-weight: 600;
        width: 90%; }
      /* line 218, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .problem_area h3.number {
        color: #fff;
        background-color: #111;
        border-radius: 30px;
        padding: 9px 12px;
        margin-right: 7px;
        font-size: 1rem;
        width: 5%;
        line-height: inherit;
        text-align: center;
        margin-top: -2px; }
    /* line 232, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .contents pre {
      font-size: 1.05rem;
      color: #111;
      line-height: 26px;
      width: 95%;
      white-space: pre-line;
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0 20px; }
    /* line 244, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .contents pre.white_bg {
      background-color: #fff;
      border-color: #aaa; }
    /* line 249, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .answer_input {
      margin: 10px 0 30px; }
      /* line 251, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .answer_input textarea {
        width: 95%;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 15px 20px;
        font-size: 1.1rem;
        line-height: 27px;
        transition: all 0.2s;
        outline: 0; }
        /* line 261, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .answer_input textarea:hover {
          border-color: #aaa; }
        /* line 264, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .answer_input textarea:fucus {
          border-color: #aaa;
          outline: 1px solid #aaa; }
    /* line 270, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .sub_problem_area {
      margin: 20px 0 0;
      padding: 15px 0; }
      /* line 273, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .sub_problem_area h3 {
        font-size: 1.2rem;
        line-height: 29px;
        display: inline-block;
        vertical-align: top;
        font-weight: 600;
        width: 85%; }
      /* line 281, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .sub_problem_area h3.number {
        color: #111;
        background-color: #eee;
        border-radius: 30px;
        padding: 9px 12px;
        margin-right: 7px;
        font-size: 1rem;
        width: 7%;
        line-height: inherit;
        text-align: center;
        margin-top: -2px; }
    /* line 294, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .sub_answer_input {
      margin: 10px 0 30px; }
      /* line 296, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .sub_answer_input textarea {
        width: 95%;
        border-radius: 5px;
        border: 1px solid #ddd;
        padding: 15px 20px;
        font-size: 1.1rem;
        line-height: 27px;
        transition: all 0.2s;
        outline: 0; }
        /* line 306, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .sub_answer_input textarea:hover {
          border-color: #aaa; }
        /* line 309, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .sub_answer_input textarea:fucus {
          border-color: #aaa;
          outline: 1px solid #aaa; }
    /* line 317, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .student_answer p {
      padding: 20px 25px;
      border: 1px solid #aaa;
      border-radius: 5px;
      font-size: 1.05rem;
      line-height: 1.7rem;
      margin-bottom: 30px; }
    /* line 327, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .gray_bg p {
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1; }
    /* line 334, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .section .teacher_correction_area {
      padding: 0 10px 20px 10px; }
      /* line 336, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .teacher_correction_area .teacher_info {
        margin: 0 0 10px; }
        /* line 338, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .teacher_correction_area .teacher_info .teacher_thumbnail {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle; }
          /* line 346, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
          .problem_container .section .teacher_correction_area .teacher_info .teacher_thumbnail img {
            width: 40px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0); }
        /* line 354, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .teacher_correction_area .teacher_info h5 {
          display: inline-block;
          vertical-align: middle;
          font-size: 1rem;
          font-weight: 600; }
      /* line 361, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .teacher_correction_area p {
        font-size: 1.05rem;
        line-height: 1.7rem;
        color: #7d57fb; }
      /* line 368, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .section .teacher_correction_area .input_area textarea {
        width: 95%;
        padding: 15px 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1rem;
        line-height: 24px;
        transition: all 0.2s;
        outline: 0;
        margin-top: 5px; }
        /* line 378, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .teacher_correction_area .input_area textarea:hover {
          border-color: #aaa; }
        /* line 381, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
        .problem_container .section .teacher_correction_area .input_area textarea:focus {
          border-color: #aaa; }
  /* line 392, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
  .problem_container .btn_area {
    text-align: left;
    width: 100%;
    padding: 50px 0; }
    /* line 397, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .btn_area a.btn_common {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 600;
      color: #777;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 20px 30px;
      margin: 0;
      transition: all 0.2s;
      display: inline-block; }
      /* line 408, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .btn_area a.btn_common:hover {
        background-color: #222;
        color: #fff;
        border-color: #222; }
      /* line 413, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .btn_area a.btn_common .fa-arrow-left {
        margin-right: 5px; }
      /* line 416, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .btn_area a.btn_common .fa-arrow-right {
        margin-left: 5px; }
    /* line 420, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
    .problem_container .btn_area a.btn_next {
      border-color: #7d57fb;
      color: #7d57fb;
      float: right; }
      /* line 424, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/problem.scss */
      .problem_container .btn_area a.btn_next:hover {
        background-color: #7d57fb;
        color: #fff;
        border-color: #7d57fb; }

/*# sourceMappingURL=problem.css.map */