@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
/* line 8, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
.teacher_account {
  display: flex; }
  /* line 11, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
  .teacher_account .header_left {
    display: inline-block;
    width: 220px;
    background-color: #2a3647;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; }
    /* line 20, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .header_left a {
      text-decoration: none;
      display: block;
      text-align: center; }
    /* line 25, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .header_left a.logo {
      height: 80px;
      line-height: 80px; }
      /* line 28, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left a.logo img {
        vertical-align: middle;
        transform: scale(0.9); }
    /* line 33, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .header_left a.btn_registration {
      background-color: #7d57fb;
      color: #fff;
      width: 85%;
      margin: 10px auto;
      border-radius: 50px;
      height: 45px;
      line-height: 45px;
      font-size: 1rem;
      font-weight: 600; }
      /* line 43, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left a.btn_registration img {
        margin-right: 5px;
        vertical-align: middle; }
    /* line 50, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .header_left ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 1rem;
      height: 48px;
      line-height: 48px;
      text-align: left;
      position: relative; }
      /* line 58, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left ul li a img {
        visibility: hidden; }
      /* line 61, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left ul li a h5 {
        padding-left: 15px;
        position: relative;
        display: inline-block; }
      /* line 66, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left ul li a span {
        position: absolute;
        right: 17px;
        top: 10px;
        display: inline-block;
        background-color: #7d57fb;
        border-radius: 50%;
        font-size: 0.7rem;
        font-weight: 700;
        text-align: center;
        width: 27px;
        height: 27px;
        line-height: 27px; }
      /* line 80, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left ul li a:hover {
        background-color: rgba(0, 0, 0, 0.2); }
    /* line 86, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .header_left ul li.active a {
      background-color: rgba(0, 0, 0, 0.2); }
      /* line 88, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .header_left ul li.active a img {
        visibility: visible; }
  /* line 96, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
  .teacher_account .container {
    display: inline-block;
    width: 100%;
    margin-left: 220px; }
    /* line 100, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .container .container_header {
      height: 80px;
      line-height: 80px;
      border-bottom: 1px solid #ddd;
      position: relative; }
      /* line 106, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .container_header .notice {
        display: inline-block;
        padding-left: 50px; }
        /* line 109, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .container_header .notice img {
          margin-right: 7px;
          vertical-align: middle;
          width: 20px; }
        /* line 114, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .container_header .notice h5 {
          font-size: 0.95rem;
          display: inline-block;
          color: #7d57fb;
          vertical-align: middle; }
      /* line 122, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .container_header .account_info {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 0 2.2%;
        height: 80px;
        cursor: pointer; }
        /* line 130, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .container_header .account_info .profile_thumbnail {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px; }
          /* line 139, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .container_header .account_info .profile_thumbnail img {
            height: 50px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0); }
        /* line 147, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .container_header .account_info h5 {
          display: inline-block;
          vertical-align: middle;
          font-size: 1rem;
          font-weight: 400;
          color: #222; }
        /* line 154, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .container_header .account_info:hover {
          background-color: #f1f1f1; }
    /* line 160, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
    .teacher_account .container .contents_container {
      padding: 50px;
      margin-bottom: 100px;
      width: 830px;
      /*------ 캐시관리 style ------*/ }
      /* line 164, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .title {
        font-size: 25px;
        font-weight: 700;
        display: inline-block; }
      /* line 169, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .book_plus {
        display: inline-block;
        float: right;
        padding: 5px 8px;
        cursor: pointer; }
        /* line 175, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .book_plus img {
          vertical-align: middle;
          margin-right: 8px; }
        /* line 179, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .book_plus h3 {
          display: inline-block;
          vertical-align: middle;
          color: #7d57fb;
          font-size: 1rem;
          font-weight: 700; }
      /* line 191, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .request_list {
        width: 100%;
        padding-top: 10px; }
        /* line 195, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .request_list .filter {
          margin: 30px 0 15px; }
          /* line 197, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .request_list .filter h5 {
            display: inline-block;
            margin: 0 7px;
            font-size: 0.9rem;
            font-weight: 400;
            color: #888;
            padding: 5px;
            cursor: pointer; }
            /* line 206, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .request_list .filter h5:hover {
              border-bottom: 3px solid #111;
              color: #000;
              font-size: 600; }
          /* line 212, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .request_list .filter h5.active {
            border-bottom: 3px solid #111;
            color: #000;
            font-size: 600; }
        /* line 219, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .request_list .list_clear {
          background-image: url(../img/clear.svg);
          background-position: top right;
          background-repeat: no-repeat;
          background-size: 85px; }
        /* line 226, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .request_list .list {
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          margin: 25px 0;
          padding: 3px 20px; }
          /* line 231, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .request_list .list .book_thumbnail {
            width: 65px;
            display: inline-block;
            vertical-align: middle; }
            /* line 235, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .request_list .list .book_thumbnail img {
              width: 100%; }
          /* line 239, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .request_list .list .info {
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            width: 88%; }
            /* line 244, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .request_list .list .info .main_info {
              display: block;
              border-bottom: 1px solid #ddd;
              padding: 30px 10px; }
              /* line 248, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .main_info h3 {
                font-size: 1rem;
                font-weight: 600;
                display: inline-block; }
              /* line 253, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .main_info .right {
                display: inline-block;
                float: right;
                margin-top: -12px; }
                /* line 257, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
                .teacher_account .container .contents_container .request_list .list .info .main_info .right h3.cash {
                  margin-right: 17px;
                  font-family: 'Montserrat', sans-serif;
                  font-size: 1.1rem;
                  font-weight: 700;
                  height: 40px;
                  line-height: 40px; }
                  /* line 264, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
                  .teacher_account .container .contents_container .request_list .list .info .main_info .right h3.cash img {
                    vertical-align: middle;
                    margin-right: 5px;
                    margin-top: -3px; }
                /* line 270, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
                .teacher_account .container .contents_container .request_list .list .info .main_info .right a {
                  text-decoration: none;
                  display: inline-block; }
                /* line 274, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
                .teacher_account .container .contents_container .request_list .list .info .main_info .right .btn {
                  color: #fff;
                  background-color: #000;
                  font-size: 15px;
                  border-radius: 5px;
                  width: 90px;
                  height: 40px;
                  line-height: 40px;
                  text-align: center; }
                /* line 284, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
                .teacher_account .container .contents_container .request_list .list .info .main_info .right .btn_urgent {
                  background-color: #ff0b57; }
            /* line 289, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .request_list .list .info .detail_info {
              display: block;
              padding: 13px 10px 16px; }
              /* line 292, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .detail_info h5 {
                display: inline-block;
                font-size: 15px;
                color: #555;
                vertical-align: middle; }
              /* line 298, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .detail_info h5.date {
                color: #555;
                float: right;
                padding-top: 2px;
                font-size: 14px; }
              /* line 304, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .detail_info h5.data_urgent {
                color: #ff0b57; }
              /* line 307, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
              .teacher_account .container .contents_container .request_list .list .info .detail_info span {
                font-size: 0.6rem;
                color: #bbb;
                margin: 0 10px;
                display: inline-block;
                vertical-align: middle; }
      /* line 320, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .cash_figure {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
        width: 100%;
        border-radius: 10px;
        margin: 35px 0 20px;
        text-align: center;
        display: flex;
        padding: 40px 0; }
        /* line 328, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_figure div {
          display: inline-block;
          text-align: center;
          width: 33.333%; }
          /* line 333, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_figure div h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 10px; }
          /* line 339, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_figure div h5 {
            font-size: 15px;
            color: #7d57fb; }
        /* line 344, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_figure div.center {
          border-right: 1px solid #ddd;
          border-left: 1px solid #ddd; }
      /* line 349, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .cash_out {
        text-align: right;
        padding: 20px 0; }
        /* line 352, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_out h5.notice {
          display: inline-block;
          color: #969696;
          font-size: 15px; }
          /* line 356, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_out h5.notice .fa-exclamation-circle {
            color: red; }
        /* line 360, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_out a.cashout_btn {
          text-decoration: none;
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
          background-color: #2a3647;
          border-radius: 50px;
          padding: 10px 25px;
          margin-left: 15px;
          margin-top: -2px; }
          /* line 370, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_out a.cashout_btn img {
            vertical-align: middle;
            margin-right: 5px; }
      /* line 377, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
      .teacher_account .container .contents_container .cash_list {
        margin-top: 35px; }
        /* line 379, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_list table {
          width: 100%; }
          /* line 382, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr td {
            vertical-align: middle;
            padding: 17px 15px;
            border-bottom: 1px solid #eee;
            font-size: 15px;
            color: #000; }
          /* line 389, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr td.date {
            width: 15%; }
          /* line 392, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr td.category {
            text-align: center;
            width: 100px; }
          /* line 396, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr td.cash {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-align: right;
            width: 100px;
            padding-right: 20px; }
          /* line 403, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr td:nth-child(10) {
            border-bottom: 0; }
          /* line 409, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr.cashout td {
            color: #7d57fb; }
          /* line 414, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr:first-child td {
            border-bottom: 1px solid #aaa;
            padding: 12px 15px;
            font-size: 14px;
            color: #555; }
          /* line 420, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr:first-child td.cash {
            padding-right: 20px;
            font-weight: 400; }
          /* line 426, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list table tr:last-child td {
            border-bottom: 1px solid #aaa; }
        /* line 431, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
        .teacher_account .container .contents_container .cash_list .pagenation {
          width: 100%;
          text-align: center;
          margin: 30px 0; }
          /* line 436, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list .pagenation span.arrow {
            display: inline-block;
            margin: 0 10px;
            color: #aaa;
            transition: all 0.2s;
            cursor: pointer; }
            /* line 442, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .cash_list .pagenation span.arrow .fas {
              font-size: 0.9rem; }
            /* line 445, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .cash_list .pagenation span.arrow:hover {
              color: #333; }
          /* line 449, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list .pagenation h5 {
            display: inline-block;
            margin: 0 5px;
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: 0.9rem;
            color: #aaa;
            text-align: center;
            border-radius: 50%;
            transition: all 0.2s;
            cursor: pointer; }
            /* line 461, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
            .teacher_account .container .contents_container .cash_list .pagenation h5:hover {
              color: #111; }
          /* line 465, /Users/SONG/Desktop/Worspace/eduplane/publishing/css/teacher_style.scss */
          .teacher_account .container .contents_container .cash_list .pagenation h5.active {
            color: #fff;
            background-color: #111; }

/*# sourceMappingURL=teacher_style.css.map */